---
---

@import "base";

.title {
    font-family: 'Google Sans';
    font-weight: 700;
}

.portrait {
    overflow: hidden;
}

.footer .footer-links a {
    font-size: 25px;
    color: #000;
}

.project-block {
    .project-title {
        width: fit-content;
        margin: 0 !important;
        font-weight: 600;
        font-size: 110% !important;

        a { color: #000 }
    }

    .project-description {
        color: #333;
        margin: 0.5em 0;
    }

    .project-image {
        border-radius: 2%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 0;

        img {
            width: 100%;
        }
    }

    .project-mousecell {
        position: relative;
        font-size: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;

        video {
            display: none;
        }
    }

    .project-links {
        margin: 0 !important;
        margin-top: 0.5em !important;
    }
}
